@model IEnumerable<Investments.Models.Optimazation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dividentsA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dividentsB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.limitA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.limitB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.investmentA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.investmentB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.result)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dividentsA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dividentsB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.limitA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.limitB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.investmentA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.investmentB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
